@use './abstracts/variables';


@mixin set-font($ffamily,$fweight,$fsize,$fcolor){
    font-family: $ffamily;
    font-weight:$fweight ;
    font-size:$fsize ;
    color:$fcolor ;
}

@mixin set-btn($bgcolor,$border,$fcolor,$fsize){
    font-family: variables.$ff;
    font-size:$fsize;
    place-items: center;
    padding: 1rem 2rem;
    text-decoration: none;
    border:$border;
    background:$bgcolor;
    color:$fcolor;
}

@mixin red-space(){
    background-color:variables.$clr-red;
}
