
//font-family
$ff: 'Raleway', sans-serif;

//font-weight   
$fw-black: 1000;
$fw-Extrabold: 800;
$fw-bold: 700;
$fw-SemiBold: 600;
$fw-Medium: 500;
$fw-Regular: 400;
$fw-Light: 300;
$fw-ExtraLight: 200;
$fw-thin: 100;

//font-size
$fs-xlg: 5rem;
$fs-lg: 3.6rem;
$fs-xxmed: 3rem;
$fs-xmed: 2rem; 
$fs-med: 1.5rem; 
$fs-reg: 1.125rem; 
$fs-xsm: 1rem; 
$fs-xxsm: .9rem; 


//colors
$clr-black:#000000;
$clr-red:#f23838;
$clr-green:#689400;
$clr-gray:#212529;
$clr-lightgray:#858585;
$clr-white:#ffff;
$clr-pink:#f78d8d;
$clr-text:#575757;
$clr-blue:#006ac0;





