@use './abstracts/variables';
@use './abstracts/mixins';

.navbar-text{
    @include mixins.set-font(variables.$ff, variables.$fw-Light, variables.$fs-reg, variables.$clr-white);
}

.title-admin{
    @include mixins.set-font(variables.$ff, variables.$fw-bold, variables.$fs-lg, variables.$clr-white);
    text-align: center;
}

.top-bg {
    width: 100%;
    background: url(../images/comida.jpg) no-repeat;
    background-size: cover;
    padding: 10rem;
    margin-top: 1rem;


}