@use './abstracts/variables';
@use './abstracts/mixins';


.text-rows {
    font-size: 1rem;
}


.table-listas {
    /*Tabla*/
    border: 0.063rem solid variables.$clr-pink;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.td-listas {
    /*columnas y filas tabla*/
    border: 0.063rem solid variables.$clr-pink;
    border-collapse: collapse;
}

.text-listas {
    @include mixins.set-font(variables.$ff, variables.$fw-Regular, variables.$fs-reg, variables.$clr-text);
}

.titles-listas {
    @include mixins.set-font(variables.$ff, variables.$fw-SemiBold, variables.$fs-reg, variables.$clr-white);
}

