@use './abstracts/variables';
@use './abstracts/mixins';

.tabla {
    border: 0.063rem solid variables.$clr-green;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.td-tabla {
    border: 0.090rem solid variables.$clr-green;
    border-collapse: collapse;
    padding: 0.60rem;
}


.subtitle-recipe {
    @include mixins.set-font(variables.$ff, variables.$fw-SemiBold, variables.$fs-med, variables.$clr-red);
    margin: 1rem;
}

.info-img{
    width: 100%;
    height: auto;
    max-width: 30rem;
}