@use './abstracts/variables';
@use './abstracts/mixins';


.title-login {
    @include mixins.set-font(variables.$ff, variables.$fw-Regular, variables.$fs-xmed, variables.$clr-red);
    margin-bottom: 4.5rem;
    display: flex;
    justify-content: start;

}

.sub-titles {
    @include mixins.set-font(variables.$ff, variables.$fw-SemiBold, variables.$fs-med, variables.$clr-gray);
}